<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define LibsDir="$(var.SolutionDir)/Toolkits/WixWPF/" ?>
  <Bundle Name="OutlookFinder" Version="1.0.3.1148" Manufacturer="FruitFactory" UpgradeCode="DC120454-63AF-4DAA-87EC-215FECCA4A64" IconSourceFile="Image\logo_64.ico" DisableModify="yes" DisableRemove="yes">
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload SourceFile="BootstrapperCore.config" />
      <Payload SourceFile="$(var.LibsDir)WixWPF.dll" />
      <Payload SourceFile="$(var.OF.OutlookFinderSetupUI.TargetPath)" />
    </BootstrapperApplicationRef>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\JavaSoft\Java Runtime Environment" Value="CurrentVersion" Variable="JavaCurrentVersion" Win64="yes" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Wow6432Node\JavaSoft\Java Runtime Environment" Value="CurrentVersion" Variable="JavaCurrentVersionWow" Win64="yes" />
    <Chain>
      <PackageGroupRef Id="NetFx40ClientWeb" />
      <ExePackage Id="JavaRuntime" Name="JavaRuntime" DownloadUrl="http://javadl.sun.com/webapps/download/AutoDL?BundleId=111687" DetectCondition="(JavaCurrentVersion&gt;=&quot;1.8&quot; OR JavaCurrentVersionWow&gt;=&quot;1.8&quot;)" InstallCommand="/s" Cache="no" Compressed="no" PerMachine="yes" Permanent="yes" Vital="yes" SuppressSignatureVerification="yes">
        <RemotePayload ProductName="jre-8u65-windows-i586.exe" Description="Java Platform SE binary" Size="50130016" Version="8.0.650.17" Hash="5e0b4ef55faf1de9b4b85d769bfe0899481c5d79" />
      </ExePackage>
      <RollbackBoundary Id="Rollback"></RollbackBoundary>
      <MsiPackage Id="OutlookFinder" SourceFile="$(var.TargetDir)\OutlookFinder.msi" DisplayName="OutlookFinder" Visible="yes" DisplayInternalUI="yes" Vital="yes"></MsiPackage>
    </Chain>
  </Bundle>
</Wix>