<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="392C0D3F-04F1-4B9A-97AF-AE6554870F7D" Name="OutlookFinder" Language="1033" Version="1.0.4" Manufacturer="FruitFactory" UpgradeCode="6169fa5d-89fa-44d3-9801-cefe8fc8755e" Codepage="1252">
    <Package InstallerVersion="200" Compressed="yes" Description="OutlookFinder" Manufacturer="FruitFactory" Languages="1033" SummaryCodepage="1252" InstallScope="perUser" InstallPrivileges="limited" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="OutlookFinder.cab" EmbedCab="yes" />
    <Condition Message="!(Setting the ALLUSERS property is not allowed.)">
      NOT ALLUSERS
    </Condition>
    <Icon Id="MainIcon.exe" SourceFile="Image\logo_64.ico" />
    <Property Id="ARPPRODUCTICON" Value="MainIcon.exe" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUIBannerBmp" Value="Image\top.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Image\dialog.bmp" />
    <Property Id="ALLUSERS" Secure="yes" />
    <Feature Id="ProductFeature" Title="OutlookFinder" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentRef Id="INSTALLFOLDER" />
      <ComponentRef Id="INSTALLFOLDERLIB" />
      <ComponentRef Id="INSTALLFOLDERLIB64" />
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <?ifndef TRIAL ?>
    <Binary Id="Turbo_Activate_dat" SourceFile="$(var.WSUI.OutlookPlugin.TargetDir)TurboActivate.dat" />
    <Binary Id="Turbo_Activate_dll" SourceFile="$(var.WSUI.OutlookPlugin.TargetDir)TurboActivate.dll" />
    <Binary Id="Turbo_Activate_exe" SourceFile="$(var.WSUI.OutlookPlugin.TargetDir)TurboActivate.exe" />
    <Binary Id="Turbo_Activate64_dll" SourceFile="$(var.WSUI.OutlookPlugin.TargetDir)TurboActivate64.dll" />
    <?endif?>
    <Binary Id="adxregistrator_exe" SourceFile="$(var.ADX_PATH)\Redistributables\adxregistrator.exe" />
    <Binary Id="managedAction" SourceFile="$(var.WSUI.OutlookPlugin.TargetDir)WSUI.CA.dll" />
    <!--<CustomAction Id="ActivatePlugin" BinaryKey="Turbo_Activate_exe" Execute="deferred" ExeCommand="" Return="ignore" />-->
    <CustomAction Id="RegisterDll" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand="/install=&quot;[INSTALLFOLDER]$(var.WSUI.OutlookPlugin.TargetFileName)&quot; /privileges=user /returnExitCode=false" Impersonate="yes" />
    <CustomAction Id="UnregisterDll" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand="/uninstall=&quot;[INSTALLFOLDER]$(var.WSUI.OutlookPlugin.TargetFileName)&quot; /privileges=user" Impersonate="yes" Return="ignore" />
    <CustomAction Id="Deactivate" BinaryKey="managedAction" DllEntry="Deactivate" Execute="immediate" Return="check" />
    <CustomAction Id="DeleteFiles" BinaryKey="managedAction" DllEntry="ClearFiles" Execute="immediate" Return="check" />
    <CustomAction Id="CloseOutlook" BinaryKey="managedAction" DllEntry="CloseOutlook" Execute="immediate" Return="check" />
    <CustomAction Id="OpenOutlook" BinaryKey="managedAction" DllEntry="OpenOutlook" Execute="immediate" Return="check" />
    <CustomAction Id="SuccesMessage" BinaryKey="managedAction" DllEntry="SuccesMessage" Execute="immediate" Return="check" />
    <CustomAction Id="CancelMessage" BinaryKey="managedAction" DllEntry="CancelMessage" Execute="immediate" Return="check" />
    <CustomAction Id="ErrorMessage" BinaryKey="managedAction" DllEntry="ErrorMessage" Execute="immediate" Return="check" />
    <?ifndef TRIAL ?>
    <CustomAction Id="ActivatePlugin" BinaryKey="managedAction" DllEntry="ActivatePlugin" Execute="immediate" Return="check" />
    <?endif?>
    <InstallExecuteSequence>
      <Custom Action="RegisterDll" After="SelfRegModules">NOT Installed</Custom>
      <Custom Action="UnregisterDll" After="SelfUnregModules">Installed</Custom>
      <Custom Action="Deactivate" After="UnregisterDll">Installed</Custom>
      <Custom Action="DeleteFiles" After="InstallFinalize">REMOVE="ALL"</Custom>
      <Custom Action="CloseOutlook" After="AppSearch">NOT Installed OR Installed OR REMOVE="ALL"</Custom>
      <Custom Action="SuccesMessage" OnExit="success">NOT Installed</Custom>
      <Custom Action="CancelMessage" OnExit="cancel">NOT Installed</Custom>
      <Custom Action="ErrorMessage" OnExit="error">NOT Installed</Custom>
      <?ifndef TRIAL ?>
      <Custom Action="ActivatePlugin" After="SelfRegModules">NOT Installed</Custom>
      <?endif?>
      <!--<Custom Action="ActivatePlugin" After="InstallInitialize">NOT Installed</Custom>-->
      <!--<Custom Action="OpenOutlook" After="InstallFinalize">NOT Installed OR Installed</Custom>-->
    </InstallExecuteSequence>
    <!-- Properties for all current versions of the .NET Framework are available here: http://wix.sourceforge.net/manual-wix3/wixnetfxextension.htm -->
    <PropertyRef Id="NETFRAMEWORK40CLIENT" />
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again."><![CDATA[Installed OR NETFRAMEWORK40CLIENT]]></Condition>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="OutlookFinder">
          <Component Id="INSTALLFOLDER" Guid="c7b05686-b33f-4d75-ae82-aa8c069e6a7d">
            <RemoveFolder On="both" Id="INSTALLFOLDER" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="OutlookFinder" />
          </Component>
          <Directory Id="INSTALLFOLDERLIB" Name="lib">
            <Component Id="INSTALLFOLDERLIB" Guid="129FC695-F5F1-4476-A5C4-B12642EE5324">
              <RemoveFolder On="both" Id="INSTALLFOLDERLIB" />
              <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="lib" />
            </Component>
          </Directory>
          <Directory Id="INSTALLFOLDERLIB64" Name="lib64">
            <Component Id="INSTALLFOLDERLIB64" Guid="564C4477-7148-40C6-B90E-3C42DF281BD3">
              <RemoveFolder On="uninstall" Id="INSTALLFOLDERLIB64" />
              <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="lib64" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <!-- gfl wrappers for x86 and x64 systems -->
      <Component Id="ProductComponentLib" Guid="E3C62440-D5F8-43C3-905B-DDD2BC79D872" DiskId="1" Directory="INSTALLFOLDERLIB">
        <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue Type="string" Name="Installed" Value="[INSTALLFOLDERLIB]" KeyPath="yes" />
        </RegistryKey>
        <File Id="_GflWrapper_dll_1" Name="GflWrapper.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)lib\" />
        <File Id="_libgfl340_dll_1" Name="libgfl340.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)lib\" />
        <File Id="_libgfle340_dll_1" Name="libgfle340.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)lib\" />
        <File Id="_PDFLibNet_dll_1" Name="PDFLibNet.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)lib\" />
      </Component>
      <Component Id="ProductComponentLib64" Guid="4685C8D4-3DE8-49B3-9ED4-13535C9E134D" DiskId="1" Directory="INSTALLFOLDERLIB64">
        <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue Type="string" Name="Installed" Value="[INSTALLFOLDERLIB64]" KeyPath="yes" />
        </RegistryKey>
        <File Id="_GflWrapper_dll_2" Name="GflWrapper.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)lib64\" />
        <File Id="_libgfl340_dll_2" Name="libgfl340.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)lib64\" />
        <File Id="_libgfle340_dll_2" Name="libgfle340.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)lib64\" />
        <File Id="_PDFLibNet_dll_2" Name="PDFLibNet.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)lib\" />
      </Component>
      <!-- main components -->
      <Component Id="ProductComponent" Guid="515bb330-8d0b-4160-b5e2-a41f32a1c0d5" DiskId="1" Directory="INSTALLFOLDER">
        <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue Type="string" Name="Installed" Value="[INSTALLFOLDER]" KeyPath="yes" />
        </RegistryKey>
        <File Id="_$(var.WSUI.OutlookPlugin.TargetName)_dll" Name="$(var.WSUI.OutlookPlugin.TargetFileName)" Source="$(var.WSUI.OutlookPlugin.TargetPath)" />
        <File Id="_adxloader_dll_manifest" Name="adxloader.dll.manifest" Source="$(var.WSUI.OutlookPlugin.ProjectDir)Loader\" />
        <File Id="_adxloader_dll" Name="adxloader.dll" Source="$(var.WSUI.OutlookPlugin.ProjectDir)Loader\" />
        <File Id="_adxloader64_dll" Name="adxloader64.dll" Source="$(var.WSUI.OutlookPlugin.ProjectDir)Loader\" />
        <File Id="_AddinExpress_MSO_2005_dll" Name="AddinExpress.MSO.2005.dll" Source="C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\" />
        <File Id="_AddinExpress_OL_2005_dll" Name="AddinExpress.OL.2005.dll" Source="C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\" />
        <File Id="_Extensibility_dll" Name="Extensibility.dll" Source="C:\Windows\assembly\GAC\Extensibility\7.0.3300.0__b03f5f7f11d50a3a\" />
        <File Id="_Microsoft_Office_Interop_Outlook_dll" Name="Microsoft.Office.Interop.Outlook.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_WSPreview_dll" Name="WSPreview.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_WSUI_Control_dll" Name="WSUI.Control.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_ICSharpCode_SharpZipLib_dll" Name="ICSharpCode.SharpZipLib.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_log4net_config" Name="log4net.config" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_log4net_dll" Name="log4net.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_log4net_xml" Name="log4net.xml" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_MahApps_Metro_dll" Name="MahApps.Metro.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_MahApps_Metro_Resources_dll" Name="MahApps.Metro.Resources.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Microsoft_Ink_dll" Name="Microsoft.Ink.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Microsoft_Office_Interop_Excel_dll" Name="Microsoft.Office.Interop.Excel.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Microsoft_Office_Interop_Word_dll" Name="Microsoft.Office.Interop.Word.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Microsoft_Practices_Prism_dll" Name="Microsoft.Practices.Prism.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Microsoft_Practices_Prism_UnityExtensions_dll" Name="Microsoft.Practices.Prism.UnityExtensions.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Microsoft_Practices_Prism_UnityExtensions_xml" Name="Microsoft.Practices.Prism.UnityExtensions.xml" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Microsoft_Practices_Prism_xml" Name="Microsoft.Practices.Prism.xml" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Microsoft_Practices_ServiceLocation_dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Microsoft_Practices_ServiceLocation_xml" Name="Microsoft.Practices.ServiceLocation.xml" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Microsoft_Practices_Unity_dll" Name="Microsoft.Practices.Unity.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Microsoft_Practices_Unity_xml" Name="Microsoft.Practices.Unity.xml" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Microsoft_Vbe_Interop_dll" Name="Microsoft.Vbe.Interop.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Office_dll" Name="Office.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_PDFLibNet_dll" Name="PDFLibNet.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_ICSharpCode_AvalonEdit_dll" Name="ICSharpCode.AvalonEdit.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_System_Windows_Interactivity_dll" Name="System.Windows.Interactivity.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_WSPreview_dll_config" Name="WSPreview.dll.config" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_WSUI_Infrastructure_dll" Name="WSUI.Infrastructure.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_WSUI_Module_dll" Name="WSUI.Module.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Html_Agility_Pack_dll" Name="HtmlAgilityPack.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_WSUI_Core_dll" Name="WSUI.Core.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Turbo_Activate_dat" Name="TurboActivate.dat" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Turbo_Activate_dll" Name="TurboActivate.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Turbo_Activate_exe" Name="TurboActivate.exe" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_Turbo_Activate64_dll" Name="TurboActivate64.dll" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_unistall_exe" Name="unistall.exe" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
        <File Id="_WSUI_OutlookPlugin_dll_config" Name="WSUI.OutlookPlugin.dll.config" Source="$(var.WSUI.OutlookPlugin.TargetDir)" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>