<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WSUploader.Properties.Settings>
            <setting name="LocalFullPath" serializeAs="String">
                <value>h:\Visual\WORK\WSUI\solution\ClickTwice\full\</value>
            </setting>
            <setting name="LocalTrialPath" serializeAs="String">
                <value>h:\Visual\WORK\WSUI\solution\ClickTwice\trial\</value>
            </setting>
            <setting name="FtpServer" serializeAs="String">
                <value>ftp://213.108.40.45:8888/shares/</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>yariki@i.ua</value>
            </setting>
            <setting name="RemoteFullPath" serializeAs="String">
                <value>ftp://213.108.40.45:8888/shares/NetShare/FTP/</value>
            </setting>
            <setting name="RemoteTrialPath" serializeAs="String">
                <value>ftp://213.108.40.45:8888/shares/NetShare/FTP/downloads/clicktwice/trial</value>
            </setting>
        </WSUploader.Properties.Settings>
    </applicationSettings>
</configuration>