<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="WSADXPublisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><applicationSettings>
        <WSADXPublisher.Properties.Settings>
            <setting name="publishingLocation" serializeAs="String">
                <value>h:\Visual\WORK\WSUI\solution\Clicktwice\full</value>
            </setting>
            <setting name="installationUrl" serializeAs="String">
                <value>https://outlookfinder.com/downloads/clicktwice/full</value>
            </setting>
            <setting name="iconFileName" serializeAs="String">
                <value>h:\Visual\WORK\WSUI\solution\WSUI\Search.ico</value>
            </setting>
            <setting name="quietModeDuringInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quietModeDuringUninstall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddInExpressBinFolderPath" serializeAs="String">
                <value>C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\</value>
            </setting>
            <setting name="ADXPublisherConfigFilename" serializeAs="String">
                <value>adxpublisher.exe.config</value>
            </setting>
            <setting name="targetFrameworkVersion" serializeAs="String">
                <value>v4.0.30319</value>
            </setting>
            <setting name="targetApplicationNames" serializeAs="String">
                <value />
            </setting>
            <setting name="showRunningApplicationsWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="installerFile" serializeAs="String">
                <value>h:\Visual\WORK\WSUI\solution\ROutput\OutlookFinderSetup.msi</value>
            </setting>
            <setting name="showDownloaderWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="downloaderFileName" serializeAs="String">
                <value>outlookfinder.exe</value>
            </setting>
            <setting name="publishingLocationTrial" serializeAs="String">
                <value>h:\Visual\WORK\WSUI\solution\Clicktwice\trial</value>
            </setting>
            <setting name="installationUrlTrial" serializeAs="String">
                <value>https://outlookfinder.com/downloads/clicktwice/trial</value>
            </setting>
            <setting name="certificateFile" serializeAs="String">
                <value>h:\Visual\WORK\WSUI\solution\Toolkits\Certificate\mycert.pfx</value>
            </setting>
            <setting name="certificatePassword" serializeAs="String">
                <value>Seattle98</value>
            </setting>
            <setting name="timestampUrl" serializeAs="String">
                <value>http://timestamp.comodoca.com/authenticode</value>
            </setting>
        </WSADXPublisher.Properties.Settings>
    </applicationSettings>
</configuration>
