<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WSGen.Properties.Settings>
            <setting name="BulidNumberFilename" serializeAs="String">
                <value>wsui.number</value>
            </setting>
            <setting name="SetupProjectFile" serializeAs="String">
                <value>\WSUI.OutlookPlugin\WSUI.OutlookPluginSetup\1.0.0\WSUI.OutlookPluginSetup(1.0.0).vdproj</value>
            </setting>
            <setting name="BuildNumber" serializeAs="String">
                <value>1.0.0</value>
            </setting>
        </WSGen.Properties.Settings>
    </applicationSettings>
</configuration>