<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <WSGen.Properties.Settings>
            <setting name="BulidNumberFilename" serializeAs="String">
                <value>wsui.number</value>
            </setting>
            <setting name="Major" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VersionFilename" serializeAs="String">
                <value>Version.cs</value>
            </setting>
            <setting name="SetupProjectFile" serializeAs="String">
                <value>\WSUI.OutlookPlugin\WSUI.OutlookPluginSetup\Product.wxs</value>
            </setting>
            <setting name="Revision" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Minor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Build" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BuildNumber" serializeAs="String">
                <value>
                </value>
            </setting>
        </WSGen.Properties.Settings>
    </userSettings>
</configuration>
